Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong> Objectives:</strong>
    <ul>
    <li>List popular languages that Data Scientists use.
    <li>List commonly used libraries used by Data Scientists.
    <li>Comment on Data Science tools.
    </ul>

Some of the popular languages that Data Scientists use are:
    1.Python.
    2.R.
    3.SQL.
    4.Java.
    5.Julia.
    6.Scala.
    7.C/C++.
    8.JavaScript.

Some of the commonly used libraries used by Data Scientists include:
    1. TensorFlow.
    2. NumPy.
    3. SciPy.
    4. Pandas.

|Data Science Tools|
|----------|
|SAS. |
|It is one of those data science tools which are specifically designed for statistical operation|
|Apache Spark|
|BigML|

<h3>Below are a few examples of evaluating arithmetic expressions in Python.

  This a simple arithmetic expression to mutiply then add integers.

In [5]:
code = compile("(3 * 4) + 5", "<string>", "eval")
eval(code)

17

This will convert 200 minutes to hours by diving by 60.

In [7]:
time = 200
print("Hours: ",time / 60)

Hours:  3.3333333333333335

<h2> Author: </h2>
    Minh Pham Van